<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form class="form" [formGroup]="validationsform"  (ngSubmit)="loginUser(validationsform.value)">

    <ion-item>
      <ion-label  position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="validationsform.get('email').hasError(validation.type) && (validationsform.get('email').dirty || validationsform.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label  position="floating" color="primary">Password</ion-label>
      <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" *ngIf="validationsform.get('password').hasError(validation.type) && (validationsform.get('password').dirty || validationsform.get('password').touched)">
          {{ validation.message }}

        </div>
      </ng-container>
    </div>
    <ion-button (click)="resetPassword(validationsform.value)">mot de passe oublie</ion-button>
    <ion-button  class="submit-btn" type="submit"  [disabled]="!validationsform.valid">Log In</ion-button>
    <ion-button (click)="loginwithgoogle()" > <ion-icon name="logo-google" ></ion-icon></ion-button>
    <ion-button (click)="loginwithfacebook()"> <ion-icon name="logo-facebook"></ion-icon></ion-button>

    <label class="error-message">{{errorMessage}}</label>
  </form>
  <p class="go-to-register">
    No account yet? <a (click)="goToRegisterPage()">Create an account.</a>
  </p>
</ion-content>
